@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hideScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-container{
  max-width: 1200px;

}
.main-layout{
  display: grid;
  grid-template-columns: 1fr;
  /* padding: 8px; */
}
.sidebar-layout{
  background-color: rgba(128, 128, 128, 0.447);
}

@media (min-width:640px) {
.main-layout{
  display: grid;
  grid-template-columns: 1fr;
}

}



@media (min-width:640px) {
  .main-layout{
    display: grid;
    grid-template-columns: 67px 1fr;
  }
}

@media (min-width:1024px) {
  .main-layout{
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}
